<li>
	<% if page.current? %>
		<span class="page-numbers current"><%= page%> </span>
	<%else%>	
		<%= link_to page, url, opts = {remote: remote, rel: page.next? ? 'next' : page.prev? ? 'prev' : nil, :class => "page-numbers"} %>
	<% end %>
</li>
