<p>Для сброса пароля  воспользуйтесь ссылкой:</p>

<p><%= link_to 'Изменить пароль',@edit_password_reset_url%></p>

<p>Если вы не запрашивали эти данные, просто проигнорируйте письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдёте по ссылке выше, и создадите новый.</p>