<% @body_id = 'cart' %>
<div id="content-order" class="site-content order-id" tabindex="-1">
  <div class="container">
    <nav class="woocommerce-breadcrumb"><a href="/" style="padding: 0.465em 0em;">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><%= Spree.t(:shopping_cart) %></nav>
    <div id="primary" class="content-area">
      <main id="main" class="site-main cart-edit">
        <%= render partial: "order_form", locals: {order: @order}%>
      </main>
    </div>
  </div>
</div>
<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".line_item_quantity").on("change", function(){  
     if ($(this).val() == ""){ 
       $(this).val(1);
     }
     if ($(this).val() == 0){ 
       $(this).val(1);
     }
     if ($(this).val() > 99){ 
       $(this).val(99);
     }

     $('#update-cart').submit();
    });
    $('#update-cart').on('click', '.plus', function() {
      $(this).attr('disabled', 'true');
      $('#update-cart').submit();
      
    });
    $('#update-cart').on('click', '.minus', function() {
      $(this).attr('disabled', 'true');
      $('#update-cart').submit();
      
    });
  });
</script>