<% unless @product_properties.empty? %> 

  <h3 class="product-section-title">Характеристики</h3>
  <table id="product-properties" class="table" data-hook>
    <tbody>
      <% @product_properties.each do |product_property| %>
        <tr>
          <td class="bolder"><%= product_property.property.presentation %></td>
          <td><%= product_property.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>