<div id="primary" class="content-area left-move-third" data-hook="homepage_products">
  <main class="site-main" id="main">
  <nav class="woocommerce-breadcrumb "><a href="/" style="padding: 0.465em 0em;">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><a href="/brands" style="padding: 0.465em 0em;">Бренды</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><%= @name%></nav>
  <section>
    <header class="page-header">
      <h1 class="page-title"><%= @name %></h1>
      <!-- <p class="woocommerce-result-count">Showing 1–15 of 20 results</p> -->
    </header>
  </section>
   <div class="tab-content">
        <nav class="shop-control-bar"  style="background-color: #fff;"> 
          <%#= render partial: 'spree/shared/product_filter', locals: {taxon: @taxon }%>
        </nav>
        <div role="tabpanel" class="tab-pane active" id="grid" area-expanded=true>
          <%= render partial: 'spree/shared/products', locals: { products: @products } %>
        </div>
        <div class="taxon-seo-content">
          <%#= raw @taxon.description%>
        </div>
        <%= render :partial => "spree/shared/latest_products_bottom"%>
    </div>
  </main>
</div>
<div id="sidebar" class="sidebar">
<aside class="widget widget_electro_products_filter " style="margin-top: 13px;">
<aside class="widget woocommerce widget_price_filter">
 </aside>
  </aside>
</div>