<div id="content" class="site-content" tabindex="-1">
  	<div class="container">
		
		<div id="primary" class="content-area left-move-first" data-hook="homepage_products">
		<nav class="woocommerce-breadcrumb "><a href="/" style="padding: 0.465em 0em;">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Бренды</nav>
		  <main class="site-main" id="main">
		  	<section>
		  		<header class="page-header">
				    <h1 class="page-title">Список брендов</h1>
				</header>
				     	<%if @brands.any?%>
				     		<ul class="products columns-3">
				     			<% @brands.each do |brand| %>
				     				<li class="brand-list"><%= link_to brand, "/brands/#{brand}" %></li>
				     			<% end %>
				     		</ul>
				     	<% end %>
				     	
				
		  	</section>
		  </main>
		</div>
	</div>
</div>