/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
/*
 *= require_tree .		
 *= require_self
 */
.complete_br{
 	padding: 0.465em 0.929em; 
 	background-color: #f5f5f5; 
 	border-radius: 0.357em;
 }
.current_br{
	padding: 0.465em 0.929em;
	background-color: #fed700;
	border-radius: 0.357em;
}
.ssc{
	font-size: 1.357em;
    line-height: 0.947em;
    margin-bottom: 1.842em;
    padding-bottom: 1.053em;
    position: relative;
    border-bottom: 1px solid #dadada;
}
 
