/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
/*
 *= require_tree .
 *= require_self
 */
 .l-f{
 	display: block;
    width: 100%;
    padding: 3px 2px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    color: #333e48;
    padding-left: 9px ;
    white-space: normal;
 }
 .dropdown-menu .list{
 	overflow-y: scroll;
    height: 15em;
 }
.single-product .cart .quantity{
	width: 7em;
}
.quantity.buttons_added #quantity{
	padding: 1em 1em;
    border-radius: 2em;
    /*width: 80%;*/
 } 

.single-product .quantity.buttons_added .minus,
.single-product .quantity.buttons_added .plus{
	bottom: 1em;
}
.bolder{
 	font-weight: 600;
 }
 .navbar-primary .navbar-mini-cart .dropdown-menu-mini-cart{
    top: 114% !important;
 }
 .departments-menu #menu-vertical-menu{
 	top: 118% !important;
 }
 #breadcrumbs{	
 	margin-left: 27.7%;
 }
 .thumbnails-all{
 	margin-top: 10px;
 }
 .related.products .product-inner img{
 	max-height: 180px;
 }
 .s-bold{
 	font-weight: 600;
 }
.second-slide img{
	margin-left: 5em !important;
}
.nav-link.dropdown-toggle:hover #menu-vertical-menu {
    display: block;
}
 .sales-menu{
 	padding: 0.5rem 0 !important;
 	top: 1060px !important; 
 	border: 2px solid #c50000 !important; 
 	border-top-color: #c50000 !important; 
 	border-radius: 0.625rem !important;
 }
 .sales-menu li a:hover{
 	background-color: #c50000 !important;
 	color: #eee !important;
 }
 .btn-secondary:hover{
 	background-color:  #004049 !important;
 }
 #owl-brands figure {
    margin: 0 0 0rem;
}
 .latest_products_mt_def{
 	margin-top: 37px;
 }
.complete_br{
 	padding: 0.465em 0.929em; 
 	background-color: #f5f5f5; 
 	border-radius: 0.357em;
 }
.current_br{
	color: #fff;
	padding: 0.465em 0.929em;
	background-color: #00abc5;
	border-radius: 0.357em;
}
.ssc{
	font-size: 1.357em;
    line-height: 0.947em;
    margin-bottom: 1.842em;
    padding-bottom: 1.053em;
    position: relative;
    border-bottom: 1px solid #dadada;
}
.color-blue{
	color: #06c;
}
.color-red{
	color: #cb0232;
}
.color-gray{
	color: #999;
}
.primary-nav .nav-inline > .menu-item > a{
	color: #333;
	font-family: Arial;
	font-weight: normal;
}
.call-text-active, .call-text-passive, .call-text{
	font-size: .5em;
	padding-left: 2.2em;
	font-weight: 600;
}
.call-text-active{
	cursor: pointer;
	color: #333;
	text-decoration: underline;
}
/*#menu-main-menu .menu-item .call:hover .call-text {color: #333 !important;}
#menu-main-menu .menu-item .call:focus .call-text {color: #333 !important;}*/
.menu-item ul li{
	list-style: none;
}
.menu-item ul {
	padding-left: 0;
}
.footer-newsletter .owl-brands .owl-nav .owl-prev,
.footer-newsletter .owl-brands .owl-nav .owl-next{
	font-size: 30px;
	top: -1.7em;
}
.footer-newsletter .owl-carousel .owl-item img {
	height: 70px !important;
}
.navbar-primary,
.footer-newsletter,
.button:hover::before,
li.product:hover .button::before,
li.product:hover .button,
li.product:hover .added_to_cart::before,
.owl-item .product:hover .button::before,
.owl-item .product:hover .button,
.owl-item .product:hover .added_to_cart::before,
.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-pagination ul.page-numbers > li a.current,
.woocommerce-pagination ul.page-numbers > li span.current,
.pagination ul.page-numbers > li a.current,
.pagination ul.page-numbers > li span.current,
.owl-dots .owl-dot.active,
.products-carousel-tabs .nav-link.active::before,
.deal-progress .progress-bar,
.products-2-1-2 .nav-link.active::before,
.ad .ad-action > a::after,
.header-v1 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .btn,
.vertical-menu > li:first-child,
.widget.widget_tag_cloud .tagcloud a:hover,
.widget.widget_tag_cloud .tagcloud a:focus,
.navbar-mini-cart .cart-items-count,
.wc-tabs > li.active a::before,
.ec-tabs > li.active a::before,
.electro-nav-tabs > li.nav-item a.active::before,
.woocommerce-info,
.woocommerce-noreviews,
p.no-comments,
.products-2-1-2 .nav-link:hover::before,
.single_add_to_cart_button,
.wpb-accordion .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a:not(.collapsed):before,
ul.products > li.product.list-view:not(.list-view-small) .button:hover,
ul.products > li.product.list-view:not(.list-view-small) .button:focus,
ul.products > li.product.list-view:not(.list-view-small) .button:active,
ul.products > li.product.list-view.list-view-small .button:hover::after,
ul.products > li.product.list-view.list-view-small .button:focus::after,
ul.products > li.product.list-view.list-view-small .button:active::after,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover,
.full-color-background .header-v3,
.full-color-background .top-bar,
.pace .pace-progress {
  background-color: #00abc5; }

.hero-action-btn:hover {
  background-color: #0099b1 !important; }

.hero-action-btn {
  background-color: #00abc5 !important; }
.button {
	cursor: pointer;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #00abc5;
    color: #333;
}
.list-group-item.active, .list-group-item:focus, .list-group-item:hover{
	z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #00abc5;
    border-color: #00abc5;
}