@import "./mob-style.scss";

.left-move-first {
  padding-left: 0.9375rem !important;
  width: 75% !important;
  left: 25% !important;
}

.left-move-second {
  padding-left: 1.9375rem !important;
  width: 75% !important;
  left: 25% !important;
}

.left-move-third {
  padding-left: 1.9375rem !important;
  width: 75% !important;
  left: 25% !important;
}

.customer-login-form{
  margin-left: 26%;
  width: 50%;
}

@media all and (max-width: 768px) {

  html{
    position: relative;
    min-height: 100%;
  }

  body{
    margin: 0 0 calc(2em + 2px);
  }
  #content{
    min-height: 0 !important;
    margin-bottom: 0 !important;
  }

  a.page-numbers, span.page-numbers, .page .gap > a{
    min-width: 2.5em;
    padding: .1em .5em .2em !important;
    border-radius: .3em !important;
  }
  .line_item_quantity{
    max-width: 3em !important;
    padding: 3px !important;
    text-align: center;
    border-radius: 4px;
  }

  .add_to_cart_button{
    &:hover{
      background-color: $brand-default !important;
    }
    &:active{
      background-color: $brand-light !important;
    }

    &::before{
      background-color: transparent !important;;
    }
  }
  li.product:hover, .section-onsale-product .onsale-product:hover, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content:hover, .products-carousel .owl-item .product:hover, li.product.hover, .section-onsale-product .hover.onsale-product, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .hover.onsale-product-content, .products-carousel .owl-item .hover.product{
    z-index: auto !important;
    position: relative !important;
    box-shadow: none !important;
    &:after{
      display: none !important;
    }
  }
  ul.products > li.product:hover .hover-area{
    background-color: red;
  }
  .shop-control-bar{
    text-align: left;
  }
  .mob-filter{
    &__others_hide{
      display: none !important;
    }
    &__btn{
      background-color: darken(white, 3%) !important;

      &:focus{
        background-color: darken(white, 3%) !important;
      }
    }
  }

  .navbar-mini-cart .cart-items-count{
    left:auto !important;
    margin-right: -1em;
    right:0;
    margin-bottom: -1em;
    //color: black !important;
    //border: 1px solid $brand-light !important;
    //background-color: white !important;
  }

  .customer-login-form{
    margin-left: 0;
    width: 100%;
  }
  #breadcrumbs, .hover-area, .woocommerce-breadcrumb, .toast-container {
    display: none !important;
  }
  .container{
    padding: 0.5em .3em;

  }
  .shop-control-bar{
    padding: 0;
    margin: 0;
  }
  .left-move-first, .left-move-second, .left-move-third {
    left: 0 !important;

    margin: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  .page-header {
    font-size: 16px;
    .page-title {
      font-size: 16px;

    }
    margin:0;
  }
  #sidebar_products_search{
    button{
      padding: .2em .6em;
      border-radius: .8em;
    }
  }
  .dropdown-menu{
    width: 80vw;
    left:auto;
    top: auto;
    margin: 0 auto;

  }
  .filter-menu .list{
    height: auto !important;
  }
  .list{
    padding-bottom: 1em;
  }

}