/* Static color */
$black:              #000000;
$light-brown:        #747474;
$white:              #ffffff;
$product-title-color:#0062bd;
$link-hover-color:   #ce1d76;
$color-fa:           #7c7c7c;
$color-title:        #333e48;
$color-top-bar:      #334141;
$color-note:         #5bb300;
$other-color:        #343f49;
$bg-hover:           #ececec;
$bg-black:           #eeeeee;
$bg-other:           #bcbcbc;
$bg-light:           #f5f5f5;
$border-light:       #ececec;
$border-main:        #eaeaea;

/*Main Color*/
$main-color:       #fed700;
$logo-color:       #fed700;
$logo-color-hover: #333e48;
$logo-size:        25px;


$image_width: 250;

$image_height: 250;

/* Font */
$font-heading:   Open Sans, Arial, Helvetica, sans-serif;
$font-nav:       Open Sans, Arial, Helvetica, sans-serif; // 14px;
$font-standard:  Open Sans, Arial, Helvetica, sans-serif;
$body-font-size: 15px;
$font-small:  13px;
$font-medium: 15px;
$font-custom: 25px;
$size-h1:     26px;
$size-h2:     24px;
$size-h3:     22px;
$size-h4:     20px;
$size-h5:     18px;
$size-h6:     16px;


/* Header */
$header-top-background:       #ffffff; //#f8f8f8;
$header-bg:           #ffffff;

/* Navigation */
$nav-font-size:                 15px;
$nav-link-color:                #333e48;
$nav-link-hover-color:          #df3737;
$nav-dropdown-background:       #fff;
$nav-dropdown-link-color:       #333e48;
$nav-dropdown-link-hover-color: #df3737;

/* Body */
$body-background-color:      #ffffff;
$body-label-deal-color:      #383838;
$body-label-deal-background: #e6e6e6;

$body-label-sale-color:      #ffffff;
$body-label-sale-background: #343f49;


$body-general-color:    #333e48; //#686c6f;
$body-title-color:      #333e48;
$body-link-color:       #333e48;
$body-border-color:     #ddd;

$body-product-title:        #0062bd;
$body-price-color:          #343f49;
$body-price-sale-color:     #ee0000;
$body-price-sold-out-color: #848484;
/* Footer */
$footer-background-color:  #f8f8f8;
$footer-title-color:       #333e48;
$footer-static-text-color: #333e48;
$footer-link-color:        #333e48;
$footer-hover-color:       #df3737;

/* Button Default*/
$button-btn1:                 #fed700;
$button-btn1-txt:             #333e48;
$button-btn1-border:          #fed700;
$button-hover-btn1:           #333e48;
$button-hover-btn1-txt:       #ffffff;
$button-hover-btn1-border:    #333e48;

/* Button Primary*/
$button-btn2:                 #e6e6e6;
$button-btn2-txt:             #ffffff;
$button-btn2-border:          #e6e6e6;
$button-hover-btn2:           #fed700;
$button-hover-btn2-txt:       #333e48;
$button-hover-btn2-border:    #fed700;


@mixin CSStransform2D($x, $y){
  transform: scale($x, $y);
  -moz-transform: scale($x, $y);
  -webkit-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  -o-transform: scale($x, $y);
}

@mixin after(){
  content:"";
  width: 0px;
  height: 3px;  
  @include ab(n,0,0,0);
  margin: auto;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;

}

@mixin button1(){
  text-align: center;      
  padding: 10px 30px;
  line-height: 27px;    
  background: $button-btn1;
  color: $button-btn1-txt;  
  border: 1px solid $button-btn1-border;   
  @include CSStransition(all, 0.3s, ease-in-out, 0s);  
  @include border-radius(20px, 20px, 20px, 20px);
  &:hover{       
    text-decoration: none;    
    background: $button-hover-btn1;
    color: $button-hover-btn1-txt;
    border-color: $button-hover-btn1-border;
  }
}

@mixin button2(){
  text-align: center;      
  padding: 10px 30px;
  line-height: 27px;
  background: $button-btn2;
  color: $button-btn2-txt;  
  border: 1px solid $button-btn2-border;    
  @include CSStransition(all, 0.3s, ease-in-out, 0s);
  @include border-radius(20px, 20px, 20px, 20px);
  &:hover{
    background: $button-hover-btn2;       
    text-decoration: none;
    color: $button-hover-btn2-txt;
    border-color: $button-hover-btn2-border;
  }
}

@mixin upper-spacing {
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); // IE9+
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
       -ms-transform: $shadow; // IE9+
        -o-transform: $shadow;
          box-shadow: $shadow;
}
// Transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
     -moz-transition-delay: $transition-delay;
       -o-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
     -moz-transition-duration: $transition-duration;
       -o-transition-duration: $transition-duration;
          transition-duration: $transition-duration;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
      -ms-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
} 
@mixin border-radius($tl, $tr, $br, $bl) {
  border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
}
@mixin opacity ( $value ) {
  opacity: $value; 
}

@mixin CSStransition($type, $duration, $ease, $delay) {
  -moz-transition: $type $duration $ease $delay;
  -webkit-transition: $type $duration $ease $delay;
  -ms-transition: $type $duration $ease $delay;
  -o-transition: $type $duration $ease $delay;
  transition: $type $duration $ease $delay;
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
      -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
       -o-transform: skew($x, $y);
          transform: skew($x, $y);
}

@mixin spritePos($x, $y, $w, $h) {
  background-image: url('/assets/images/icon.png');
  background-position: $x $y;
  background-repeat: none;
  width: $w;
  height: $h;
}

@mixin ab($t, $l, $b, $r) {
  position: absolute;
  display: block;
  @if $l != n { left: $l; }
  @if $t != n { top: $t; }
  @if $r != n { right: $r; }
  @if $b != n { bottom: $b; }
}

@mixin rotateY($degree) {
  -moz-transform:    rotateY($degree);
  -webkit-transform: rotateY($degree);
  -o-transform:      rotateY($degree);
  transform:         rotateY($degree);
}

@mixin rotateX($degree) {
  -moz-transform:    rotateX($degree);
  -webkit-transform: rotateX($degree);
  -o-transform:      rotateX($degree);
  -ms-transform:      rotateX($degree);
  transform:         rotateX($degree);
}

//transform origin
@mixin transform-origin($origin) {
    moz-transform-origin: 	  $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin:   $origin;
}

@mixin before {
  @include transition-duration(0.35s);
  @include CSStransition(all, 0.35s, ease, 0s);
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0; 
  bottom: 0;   
  width: 0;      
}

@mixin hover-before {
  height: 100%;
  width: 100%;
}

@mixin border-radius-circle {
  @include border-radius(50%, 50%, 50%, 50%);
}
@mixin border-radius-20px {
  @include border-radius(20px, 20px, 20px, 20px);
}
@mixin border-radius-25px {
  @include border-radius(25px, 25px, 25px, 25px);
}
/*  Base HTML tags -------------------------------------------------- */
html { -webkit-font-smoothing: antialiased; }
body {margin: 0 auto; font-family: 'Arial', 'sans-serif'; color: #2d2d2d; font-size: 12px; line-height: 20px; position: relative; overflow-x: hidden;}
body.cart-loading .loading { display: block!important; }
/*  Forms -------------------------- */
.visible-phone {display: none;}    

fieldset, legend {  border: none;}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] { display: inline-block;padding: 1.384615385em 0.615384615em;}

.row-fluid textarea[class*="span"] { padding-top: 0.5em; padding-bottom: 0.5em;}

blockquote { }
input[type="image"] {width: auto;}
textarea{ border: none;}

input[type="checkbox"] { vertical-align: top; margin-right: 10px; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="color"],
.uneditable-input { margin: 0;padding: 0.615384615em; }
textarea,
textarea.form-control {  
  @include border-radius-20px;   
  @include box-shadow(inset 0 0 0 $white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: $white;
  padding: 15px 30px; 
  line-height: 1.35;   
  border: 1px solid $border-main;
  color: #a0a0a0;
}

select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { padding: 15px 30px; line-height: 1.35; height: 50px; 
  @include border-radius-20px;
  @include box-shadow(inset 0 0 0 #fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: $white;
  border: 1px solid $border-main;
  color: #a0a0a0;
}
input[type="number"] {
  -moz-appearance:textfield;  
  -webkit-appearance:textfield;   	
  -webkit-appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;	   
}

/*input[type="submit"] { line-height: 1.1; }*/

label { margin-bottom: 7px; font-weight: 400; }
label em { color: #f1152f; font-weight: 400; font-style: normal; margin-left: 3px; }

.form-actions { background: none; border: none;  padding: 20px 0 0 0;}

.alert ul { margin-bottom: 0;}
.alert > p, .alert > ul{ margin-top: 0;}
ul { padding: 0; list-style: disc inside none; }
ol { padding: 0; list-style: decimal inside none; }
/*li { margin-bottom: 0.25em; }*/
ul ul, ul ol, ol ol, ol ul {  padding-left: 10px;}
.list-inline {
  margin: 0;
  > li {
    padding: 0;
    margin: 0;
  }
}

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.form-success { border: 1px solid #c8d9b9; background:url(icons_new14.png ) 10px -1307px no-repeat;  margin-bottom: 20px; padding: 5px 20px 5px 30px; }

/*  Images -------------------------- */
img { max-width: 100%; height: auto;  border: 0; }

.image { max-width: 100%;  height: auto;  border: 0;  -ms-interpolation-mode: bicubic;}

/*  Typography -------------------------- */
h1, h2, h3, h4, h5, h6 {  font-weight: 600; line-height: 1.25em;  margin: 0;  padding: 0; font-family: $font-heading; }
h1 {font-size: 40px; margin-bottom: 0px; }
h2 {font-size: 28px; /* 30/13 */ margin-bottom: 0px;}
h3 {font-size: 24px ; margin-bottom: 0px;}
h4 {font-size: 18px ;  }
h5 {font-size: 16px ;  margin-bottom: 0px;}
h6 {font-size: 14px; margin-bottom: 0px;}
.page-title {
  font-size: 36px;
  font-weight: 400;  
  text-align: center;  
}

p:last-child { margin-bottom: 0;}
small { font-size: 12px ;}
h2 small.pull-right { padding-top: 0.538461538em; }

/*  Links -------------------------- */
a { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
a:focus { text-decoration: none; }
a, a:link, a:hover, a:active { outline: none; }

/*  Global classes -------------------------------------------------- */
.no-style { margin: 0 !important; padding: 0 !important; border: 0 !important; background: none !important; }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center;}
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }

.hide,
.hidden {display: none;}
.move {cursor: move;}

/*  Formatting ------------------------------------------ */
.hidden { display: none;}
.move { cursor: move;}
.section-title {  display: none;}


.owl-theme .owl-controls .owl-buttons > div { position: absolute;  }

/* menu ---------------------------------*/
/* Begin Dropdown Menu */
.navigation > nav > ul > li.mega-menu{
  position: relative;  
}
.main-nav .mega-menu > .dropdown-menu{  
  left: auto;
  right: 0;
  padding: 20px !important;
}
.main-nav .mega-menu .mega-col-2 {
  img{
    width: 100%;
  }
}
/* End Dropdown Menu */

html.menu-opened {
  overflow: hidden;
}
.menu-mobile.opened {
  @include translate(0px, 0px);
  background: $footer-background-color;
  @include border-radius(0, 0, 0, 0);
}
.menu-mobile {
  top: 0 !important;
  position: fixed;
  width: 260px;
  z-index: 100000;
  height: 100%;
  overflow: auto;
  left: 0px;
  @include translate(-280px, 0);  
  -moz-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: #fff;
}

#page-body {
  position: relative;
  left: 0;
}

.navigation {  
  .navbar{
    margin-bottom: 0;
   
  }
}
.main-nav {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

.main-nav > li{  
  position: relative;  
  &.dropdown{
    > a{
      > i{
        display: none;
      }
    }
    a.dropdown-link{
      
      span{
        
      }
      
      i{
        float: right;
        line-height: 1.4;
        width: 35px;
        text-align: right;
        padding: 15px;
        margin: -15px;
      }
    }
  }
  
  &.mega-menu{
    position: static;
  }
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: transparent; color: $main-color; }
.dropdown-menu > li.dropdown-submenu > .dropdown-menu { left: 100%; top: 0px; display: none; padding: 10px 0; border: 1px solid $border-main; border-top: none; font-size: $body-font-size;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background-color: transparent; color: $main-color;}

.dropdown-menu {
  text-align: left;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 110px;
  z-index: 999;
  padding: 0;
  margin-top:0;
  margin-bottom: 0;
  border: 1px solid $body-border-color;  
  border-top: none;
  border-radius: 0;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.176));
  font-size: 14px;
  &:before {
    content: '';
    @include ab(0, -1px, n, -1px);
    width: auto;
    height: 2px;
    background: $main-color;
  }
}
.main-nav .mega-menu .dropdown-menu-sub{
  position: static;
}

.main-nav {
  .dropdown-menu{
    padding: 20px 0;
    width: 270px;
    @include border-radius(0, 0, 10px, 10px);
    li{
      padding: 0px 18px;      
      a { 
        white-space: normal;        
        padding: 5px 0px;
        line-height: 26px;
        border-bottom: 1px solid $border-main; 
        display: block;
        color: $nav-link-color;
        &:hover {
          color: $main-color;
          font-weight: 700;
          color: $nav-link-hover-color;
        }
      }

      &:last-child{
      	> a {
          border-bottom: 0;
        }
      }
    }
  }
  .mega-menu{
    .dropdown-menu{
    padding: 0 0 20px;
    li{
      a { 
        text-transform: capitalize;
      }
      &:last-child{
      	border-bottom: 0;
      }
    }
  }
  }
  
}


#scroll-to-top{
  a{
    &:hover{
      text-decoration: none;
    }
  }
}
/*currency----------------------------*/
.flag-code{
  background-image: url('/assets/images/code.png');
  width: 16px;
  height: 11px;
  display:inline-block;
  margin-right: 3px;
}
.flag-downcase{
  background-image: url('/assets/images/downcase.png');
  width: 16px;
  height: 11px;
  display:inline-block;
  margin-right: 3px;
}

/*quickshop -------------------------------*/

#quick-shop-modal{
  background: rgba(0,0,0,0.5);
  z-index: 999;
  
  .modal-content{
    z-index: 999; 
    
  }
}

.modal-open .modal-backdrop{ display: none;}
div.jGrowl div.jGrowl-notification{ background-color: #fff; 
  background-color: #fff; 
  padding: 30px;
  border: 1px solid $body-border-color;
  @include border-radius(15px, 15px, 15px, 15px);
  @include box-shadow(0 0 5px  rgba(0, 0, 0, 0.5));  
  
  .btn-default {
    padding: 5px 30px;
    font-size: 14px;
    color: $white;
  }
}

/*css----*/

.alert-danger{
  border-radius: 0;
  border-color: #d02e2e;
  color:#d02e2e;
  background-color:#fff6f6;    
}

.alert-success{
  @include border-radius(0, 0, 0, 0);
  border: none;
  background: none; 
  color: $color-note;
  padding: 0;
  button.close {
    color: $color-note;
    @include opacity(1);
  }
}

.loading {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  position: fixed;
  top: 0 !important;
  bottom: auto;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  margin: 0px auto;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-indent: -999em;    
}
#circularG{
  @include ab(50%, 50%, n, n);
  margin: -58px 0 0 -58px;  	
  width:58px;
  height:58px;	
}

.circularG{
  position:absolute;
  background-color: $white;
  width:14px;
  height:14px;
  border-radius:9px;
  -o-border-radius:9px;
  -ms-border-radius:9px;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  animation-name:bounce_circularG;
  -o-animation-name:bounce_circularG;
  -ms-animation-name:bounce_circularG;
  -webkit-animation-name:bounce_circularG;
  -moz-animation-name:bounce_circularG;
  animation-duration:0.8s;
  -o-animation-duration:0.8s;
  -ms-animation-duration:0.8s;
  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

#circularG_1{
  left:0;
  top:23px;
  animation-delay:0.1s;
  -o-animation-delay:0.1s;
  -ms-animation-delay:0.1s;
  -webkit-animation-delay:0.1s;
  -moz-animation-delay:0.1s;
}

#circularG_2{
  left:6px;
  top:6px;
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -ms-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
}

#circularG_3{
  top:0;
  left:23px;
  animation-delay:0.3s;
  -o-animation-delay:0.3s;
  -ms-animation-delay:0.3s;
  -webkit-animation-delay:0.3s;
  -moz-animation-delay:0.3s;
}

#circularG_4{
  right:6px;
  top:6px;
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -ms-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -moz-animation-delay:0.4s;
}

#circularG_5{
  right:0;
  top:23px;
  animation-delay:0.5s;
  -o-animation-delay:0.5s;
  -ms-animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
  -moz-animation-delay:0.5s;
}

#circularG_6{
  right:6px;
  bottom:6px;
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -ms-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
}

#circularG_7{
  left:23px;
  bottom:0;
  animation-delay:0.7s;
  -o-animation-delay:0.7s;
  -ms-animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay:0.7s;
}

#circularG_8{
  left:6px;
  bottom:6px;
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -ms-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
}



@keyframes bounce_circularG{
  0%{
    transform:scale(1);
  }

  100%{
    transform:scale(.3);
  }
}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1);
  }

  100%{
    -o-transform:scale(.3);
  }
}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1);
  }

  100%{
    -ms-transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1);
  }

  100%{
    -webkit-transform:scale(.3);
  }
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1);
  }

  100%{
    -moz-transform:scale(.3);
  }
}

/*Fixed CSS*/

#body-content {  
  @include CSStransition(all, 0.45s, ease, 0s);  
  min-height: 0px; 
  margin: 18px 0 0;
  padding-top: 18px;
  border-top: 1px solid $border-main;    
}
.zoomContainer {
  z-index: 1;
  overflow: hidden;
}

.modal-open .zoomContainer {
  z-index: 1050;
}

#related-product .product-wrapper .product-head .product-button{
  display: none! important;
}

.add-to-cart.disabled,
.add-to-wishlist.disabled{
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#fsb_bar {
  z-index: 10 !important;
}