/* Static color */
$black:              #000000;
$light-brown:        #747474;
$white:              #ffffff;
$product-title-color:#0062bd;
$link-hover-color:   #ce1d76;
$color-fa:           #7c7c7c;
$color-title:        #333e48;
$color-top-bar:      #334141;
$color-note:         #5bb300;
$other-color:        #343f49;
$bg-hover:           #ececec;
$bg-black:           #eeeeee;
$bg-other:           #bcbcbc;
$bg-light:           #f5f5f5;
$border-light:       #ececec;
$border-main:        #eaeaea;

/*Main Color*/
$main-color:       #fed700;
$logo-color:       #fed700;
$logo-color-hover: #333e48;
$logo-size:        25px;


$image_width: 250;

$image_height: 250;

/* Font */
$font-heading:   Open Sans, Arial, Helvetica, sans-serif;
$font-nav:       Open Sans, Arial, Helvetica, sans-serif; // 14px;
$font-standard:  Open Sans, Arial, Helvetica, sans-serif;
$body-font-size: 15px;
$font-small:  13px;
$font-medium: 15px;
$font-custom: 25px;
$size-h1:     26px;
$size-h2:     24px;
$size-h3:     22px;
$size-h4:     20px;
$size-h5:     18px;
$size-h6:     16px;


/* Header */
$header-top-background:       #ffffff; //#f8f8f8;
$header-bg:           #ffffff;

/* Navigation */
$nav-font-size:                 15px;
$nav-link-color:                #333e48;
$nav-link-hover-color:          #df3737;
$nav-dropdown-background:       #fff;
$nav-dropdown-link-color:       #333e48;
$nav-dropdown-link-hover-color: #df3737;

/* Body */
$body-background-color:      #ffffff;
$body-label-deal-color:      #383838;
$body-label-deal-background: #e6e6e6;

$body-label-sale-color:      #ffffff;
$body-label-sale-background: #343f49;


$body-general-color:    #333e48; //#686c6f;
$body-title-color:      #333e48;
$body-link-color:       #333e48;
$body-border-color:     #ddd;

$body-product-title:        #0062bd;
$body-price-color:          #343f49;
$body-price-sale-color:     #ee0000;
$body-price-sold-out-color: #848484;
/* Footer */
$footer-background-color:  #f8f8f8;
$footer-title-color:       #333e48;
$footer-static-text-color: #333e48;
$footer-link-color:        #333e48;
$footer-hover-color:       #df3737;

/* Button Default*/
$button-btn1:                 #fed700;
$button-btn1-txt:             #333e48;
$button-btn1-border:          #fed700;
$button-hover-btn1:           #333e48;
$button-hover-btn1-txt:       #ffffff;
$button-hover-btn1-border:    #333e48;

/* Button Primary*/
$button-btn2:                 #e6e6e6;
$button-btn2-txt:             #ffffff;
$button-btn2-border:          #e6e6e6;
$button-hover-btn2:           #fed700;
$button-hover-btn2-txt:       #333e48;
$button-hover-btn2-border:    #fed700;


@mixin CSStransform2D($x, $y){
  transform: scale($x, $y);
  -moz-transform: scale($x, $y);
  -webkit-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  -o-transform: scale($x, $y);
}

@mixin after(){
  content:"";
  width: 0px;
  height: 3px;  
  @include ab(n,0,0,0);
  margin: auto;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;

}

@mixin button1(){
  text-align: center;      
  padding: 10px 30px;
  line-height: 27px;    
  background: $button-btn1;
  color: $button-btn1-txt;  
  border: 1px solid $button-btn1-border;   
  @include CSStransition(all, 0.3s, ease-in-out, 0s);  
  @include border-radius(20px, 20px, 20px, 20px);
  &:hover{       
    text-decoration: none;    
    background: $button-hover-btn1;
    color: $button-hover-btn1-txt;
    border-color: $button-hover-btn1-border;
  }
}

@mixin button2(){
  text-align: center;      
  padding: 10px 30px;
  line-height: 27px;
  background: $button-btn2;
  color: $button-btn2-txt;  
  border: 1px solid $button-btn2-border;    
  @include CSStransition(all, 0.3s, ease-in-out, 0s);
  @include border-radius(20px, 20px, 20px, 20px);
  &:hover{
    background: $button-hover-btn2;       
    text-decoration: none;
    color: $button-hover-btn2-txt;
    border-color: $button-hover-btn2-border;
  }
}

@mixin upper-spacing {
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9+
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  -ms-transform: $shadow; // IE9+
  -o-transform: $shadow;
  box-shadow: $shadow;
}
// Transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
} 
@mixin border-radius($tl, $tr, $br, $bl) {
  border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
}
@mixin opacity ( $value ) {
  opacity: $value; 
}

@mixin CSStransition($type, $duration, $ease, $delay) {
  -moz-transition: $type $duration $ease $delay;
  -webkit-transition: $type $duration $ease $delay;
  -ms-transition: $type $duration $ease $delay;
  -o-transition: $type $duration $ease $delay;
  transition: $type $duration $ease $delay;
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
  -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  -o-transform: skew($x, $y);
  transform: skew($x, $y);
}

@mixin spritePos($x, $y, $w, $h) {
  background-image: url('/assets/images/icon.png');
  background-position: $x $y;
  background-repeat: none;
  width: $w;
  height: $h;
}

@mixin ab($t, $l, $b, $r) {
  position: absolute;
  display: block;
  @if $l != n { left: $l; }
  @if $t != n { top: $t; }
  @if $r != n { right: $r; }
  @if $b != n { bottom: $b; }
}

@mixin rotateY($degree) {
  -moz-transform:    rotateY($degree);
  -webkit-transform: rotateY($degree);
  -o-transform:      rotateY($degree);
  transform:         rotateY($degree);
}

@mixin rotateX($degree) {
  -moz-transform:    rotateX($degree);
  -webkit-transform: rotateX($degree);
  -o-transform:      rotateX($degree);
  -ms-transform:      rotateX($degree);
  transform:         rotateX($degree);
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: 	  $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin:   $origin;
}

@mixin before {
  @include transition-duration(0.35s);
  @include CSStransition(all, 0.35s, ease, 0s);
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0; 
  bottom: 0;   
  width: 0;      
}

@mixin hover-before {
  height: 100%;
  width: 100%;
}

@mixin border-radius-circle {
  @include border-radius(50%, 50%, 50%, 50%);
}
@mixin border-radius-20px {
  @include border-radius(20px, 20px, 20px, 20px);
}
@mixin border-radius-25px {
  @include border-radius(25px, 25px, 25px, 25px);
}
@media (min-width: 1200px){
  .hide-filter-price .price {
    display: none;
  }
  .boxes{
    max-width: 1200px;
    margin: 0 auto;
  }  
  .page-search {    
    .cata-product.cp-grid {
      &.col-sm-12 {
        .product-grid-item {
          width: 25%;  
          .product-wrapper {
            &:before {
              content: '' !important;
            }  
          }          
          &:nth-child(4n + 1) {
            clear: both;
            .product-wrapper {
              &:before {
                content: none !important;
              }
            }            
          }
        } 
      }            
    }
  }  
}

@media (max-width: 1199px) and (min-width: 992px){	
  #layer-addcart-modal .addcart-modal-box {
    width: 55%;
    margin: 0 22.5%;
  }
  .hide-filter-price .price {
    display: none;
  }
  .boxes{
    max-width: 980px;
    margin: 0 auto;
  }  

  /*header*/
  .navigation .navbar .navbar-collapse .main-nav > li.dropdown > .dropdown-menu.column-4 { width: 736px; }
  .navigation .navbar .navbar-collapse .main-nav > li.dropdown > .dropdown-menu.column-3 { width: 550px; }
  .navigation .navbar .navbar-collapse .main-nav > li.dropdown > .dropdown-menu.column-2 { width: 370px; }
  .navigation .navbar .navbar-collapse .main-nav > li.dropdown > .dropdown-menu.column-1 { width: 185px; }
  .main-nav .mega-menu > .dropdown-menu{  width: 950px; }
  .horizontal-menu .navigation .navbar .navbar-collapse .main-nav > li.dropdown:hover,
  .horizontal-menu .navigation .navbar .navbar-collapse .main-nav > li.dropdown.hover {
    &:last-child {
      > .dropdown-menu {
        left: auto !important;
        right: 0 !important;
      }
    }		
  }

  .main-nav>li > a{ margin: 15px 10px 12px; }
  .main-nav .mega-menu .dropdown-menu .mega-sub-link > a{ font-size: 15px;}
  .page-search {    
    .cata-product.cp-grid {
      &.col-sm-12 {
        .product-grid-item {
          width: 25%;  
          .product-wrapper {
            &:before {
              content: '' !important;
            }  
          }          
          &:nth-child(4n + 1) {
            clear: both;
            .product-wrapper {
              &:before {
                content: none !important;
              }
            }            
          }
        } 
      }            
    }
  }
  .header-content .wishlist-checkout-holder {
    margin-right: 10px;
  }
  .header-content .top-bar-right>ul>li {
    &.hidden-xs {
      display: none;
    }
  }
  /*sidebar*/
  .sidebar .sb-widget.sb-filter .advanced-filters li.advanced-filter, 
  #sidebar-blog .sb-widget.sb-filter .advanced-filters li.advanced-filter{
    width: 100%;
    float: none;
  }
  .au-team .team-member li {
    img {
      max-width: 130px;
    }
  }
  .au-team .au-team-6 .wrap-team-6 {
    width: 130px;
    height: 130px;
  }
  .page-product.product-extended .ex-action-container {
    padding: 15px;
  } 
  .cata-product.cp-grid .product-grid-item {
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}
@media (min-width: 1025px) {   
  #home-slideshow .swiper-slide {
    height: 485px;
    > img {
      display: none;
    }
  }
  .sidebar .sb-widget.price {
    display: none;
  }

  //{% if settings.enable_image_blance %}
  .cata-product {
    .product-wrapper {
      .product-head {
        .product-image {
          .featured-img{
            width: $image_width + px;
            height: $image_height + px;                   
            &:before {
              content: '';
              height: 100%;
              vertical-align: middle;        
              display: inline-block;
            }
            a{
              display: block;
              width: 100%;
              height: 100%;
              img{            
                max-width: 100%;
                max-height: 100%;              
                display:inline-block;
                vertical-align: middle;              
                @include ab(50%, 50%, n, n);
                @include translate(-50%, -50%);
              }
            }
          }      
        }
      }
    }
  }
 // {% endif %}
}

@media (max-width: 1024px){
  .horizontal-menu-container .free-ship {
    display: none;
  }
  .header-content .top-bar-right>ul>li {
    &.hidden-xs {
      display: none;
    }
  }
  #home-slideshow .swiper-slide {
    height: 400px;
    > img {
      display: none;
    }
  }
  .home-slideshow-wrapper:hover .video-slide .video {
    z-index: 2;
  }	
  .home-slideshow-wrapper .swiper-button-white {
    @include opacity(1 !important);
    z-index: 2;
  }	
  #layer-addcart-modal .addcart-modal-box {
    width: 80%;
    margin: 0 10%;
  }	
  .product-wrapper .product-content .add-cart-button .btn-primary {
    background: $button-hover-btn2;      
    border-color: $button-hover-btn2-border;
  }
  .product-grid-item , .owl-item,
  .featured-content-holder .featured-product,
  .home-tab .product-holder {
    .switch {	    
      > a {
        > span.hidden-sm {						
          display: none !important;		
        }	   	
      }
    }			
  }      
  .quick-shop-button { display: none !important;}    
  .owl-theme .owl-controls .owl-nav>div{ 
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
    filter: alpha(opacity=100);
  }
  .product-button.hide-desktop{ display: block; margin: 15px 0;}
  .product-wrapper .product-head .product-button.only-desktop{ display: none;}
  .zoomContainer{ display: none !important; z-index: 0;}  

  #scroll-to-top{ display: none;}

  /*sidebar*/  
  .sidebar .sb-widget.sb-filter .advanced-filters li.advanced-filter, 
  #sidebar-blog .sb-widget.sb-filter .advanced-filters li.advanced-filter{
    width: 100%;
    float: none;
  }
  .product-grid-item {
    margin: 0px auto;
  }
  .page-cata .pagination-holder {
    margin-top: 20px;
  } 
  #home-tabs-second .home-tab-second .ht2-item .product-wrapper {
    padding: 15px !important;
    .product-content .product-button {
      padding: 0;
    }
  }
  .product-grid-item .product-wrapper, 
  .owl-item .product-wrapper, 
  .featured-content-holder .featured-product .product-wrapper,
  .home-tab .product-holder .product-wrapper {   
    &:after {
      bottom: 0 !important; 
      /*content: none !important;*/
    } 
    .product-content {    
      .price-cart-wrapper {
        border: none !important;
        padding-bottom: 8px;
      }
      .product-button {
        position: static;
        margin: 0;   
        padding: 0; 
        text-align: left;    
        @include translate3d(0px, 0px, 0px);
        @include opacity(1);
        border: none;        
        &:before {
          content: none;
        }
        .add-cart-button {
          margin: 0px auto 0;
          display: block;		
          &:before {
            content: none;
          }	
        } 
        .product-wishlist {
          margin: 0;
          padding: 0;
        }
        .add-to-wishlist {				
          margin: 0px auto;	
          display: block;	
          @include opacity(1);			
        }
      }
    }      
  }    
  #hi-eu-opt-in {
    display: none;
  }
  .price-range-slider {
    display: none;
  }
  #widget-newsletter {
    .newsletter-container {
      p {
        display: none;
      }
    }
  }
  .form-wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 991px){ 
  .header-content .header-middle {
    padding-bottom: 0;
  }
  .header-content .header-fixed {
    position: static !important;
    .sticky-logo {
      display: none !important;
    }
  }
  .pagination-holder .pagination-showing {
    text-align: center;
    margin-top: 5px;
  }
  .page-cata .pagination-holder .pagination {
    padding-top: 5px;
  }
  .cata-toolbar > .visible-xs {
    margin-left: 300px;
    margin-top: -35px;
    float: left; 
    position: relative;
    z-index: 1;
  }
  .header-content .cart-target {
    float: right;
  }
  .header-content .row-wrapper {
    display: block;    
  }
  .header-content .header-logo {
    text-align: center;
    display: block;    
  } 
  .header-content .top-search-holder {
    display: block;
    float: right;
  }
  .header-content .top-cart-row {
    display: block;
    float: left;    
  }
  .header-content .top-cart-row-container {  	
    padding: 15px 0 5px;
  }
  .horizontal-menu-container {
    display: none;
  }
  .horizontal-menu {
    max-height: 0;
    background: none;
  }
  .verticle-menu {
    position: relative;
  }  
  .navbar-responsive-menu {
    float: left;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    max-height: 54px;
    cursor: pointer;
    @include ab(15px, 15px, n, n);
    .responsive-menu {		
      @include border-radius(4px, 4px, 4px, 4px);
      width: 45px;
      height: 45px;
      line-height: 45px;
      z-index: 1;
      background: $main-color;
      color: $white;
      font-size: 21px;
      text-align: center;
      cursor: pointer;
      &:before {
        content: "\f0c9";
        font-family: FontAwesome;
      }
    }    
    .bar {
      display: none;
    }

  }  
  .horizontal-menu {
    .navbar-responsive-menu {
      top: -89px;
    }
  }
  .cart-right {
    #checkout-addnote{
      width: 100%;
      margin-right: 0;      
    }
    .cart-action-wrapper{
      width: 100%;
    }
  }

  .product-wrapper .product-head .product-image:before{ display: none;}    

  .product-image-inner > .col-md-10 { width: 80%; }  
  .sidebar .sbw-filter,
  .sb-wrapper .sbw-filter{
    top: 0 !important;
    position: fixed;
    width: 280px;
    z-index: 100000;
    height: 100%;
    overflow: auto;
    right: 0px;		
    @include translate(280px, 0px);
    @include border-radius(0, 0, 0, 0);
    -moz-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding: 20px;
    background: #fff;
  }
  .sidebar .sbw-filter.opened,
  .sb-wrapper .sbw-filter.opened {		
    @include translate(0px, 0px);
  }
  .cata-toolbar >.visible-xs{
    display: inline-block !important;
    margin-bottom: 5px;
  }
  .sb-wrapper {
    margin: 0;
    background: none;
    border: none;

    .sb-title {
      display: none;
    }

    .sbf-title {
      padding: 0 20px 0 0; display: block; position: relative; cursor: pointer;
      .fa {
        position: absolute;
        top: 1px;
        right: 0;
        cursor: pointer;
      }
      .fa-angle-up {
        display: none !important;
      } 
      .fa-angle-down {
        display: block !important;
      }
      .none-active {
        .fa-angle-up {
          display: block !important;  				
        }
        .fa-angle-down {
          display: none !important;
        }
      }
    } 
  } 
  #widget-social {margin: 30px 0;} 
}

@media (max-width: 991px) and (min-width: 768px){ 
  .boxes {
    max-width: 760px; margin: 0px auto;    
  }  
  .header-content {    
    .top-cart-row-container {
      padding: 0px !important;
    }
    .header-logo {
      margin-bottom: 25px;
    }
  }
  .navbar-responsive-menu {
    top: 4px !important;
  }
  #home-slideshow.flexslider .flex-control-nav{ bottom: 40px;}  
  /*menu*/  
  .main-nav .mega-menu>.dropdown-menu{
    padding: 40px 30px 25px !important;
  }   
  .main-nav .dropdown-menu {width: 250px;}
  .navigation .navbar .navbar-collapse .main-nav > li.dropdown > {
    .dropdown-menu.column-4 {
      width: 503px;
    }
    .dropdown-menu.column-3 {
      width: 375px;
    }
    .dropdown-menu.column-2 {
      width: 250px;
    }
    .dropdown-menu.column-1 {
      width: 125px;
    }
  }  
  /*end menu*/  
  .home-tab .special-offer-product {
    .product-wrapper {
      margin-right: 0;
      padding: 20px 15px;
      .product-content .deal-progress .deal-stock .stock-available,
      .product-content .deal-progress .deal-stock .stock-sold {
        font-size: 14px;
      }
      .product-content .is-countdown .countdown-section {
        .countdown-amount {
          font-size: 20px;
        }
        .countdown-period {
          font-size: 10px;
        }
      }
    }    
  }

  .category-grid-view .col-sm-6 {
    &:nth-child(even) {
      .category {    
        &:before {
          content: '';
          width: 1px;
          height: auto;
          background: $border-main;
          @include ab(50px, 0, 50px, n);
        }    
      }
    }
    &:nth-child(odd){
      clear: both;
      .category {
        &:before {
          content: none !important;
        }
      }
    }
  }
  .fancybox-skin .mailchimp-popup-content #mc-form #mc-email{ width: 180px; } 
  .sidebar .sb-widget .sb-filter .advanced-filters li.advanced-filter{ width: 100%;} 
  #widget-newsletter form {
    width: 50%;
  }
  .au-team .team-member li {
    width: 33.333333%;   
  }
  .page-product.product-extended .ex-action-container {
    padding: 15px;
  }
  .page-product.product-extended .ex-action-container .quantity-product {
    width: 100%;
  }
  .cata-product.cp-grid .product-grid-item {
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}

@media (min-width: 768px){
  .dropdown-menu > li.dropdown-submenu:hover > .dropdown-menu {display: block;}
  #quick-shop-popup {
    background-color: rgba(0,0,0,0.5);
    .modal-dialog { margin: 50px auto;}
  }   
  .tab-content .home-tab .normal-product {
    .product-grid-item {
      &:nth-child(3n + 1) {
        clear: both;
      }
    }
  }  
  .header-content .searchbox {
    #circularG {
      top: 7px;
      left: auto;
      right: 17px;
      margin: 0px;
      z-index: 3;
      background: $button-btn1;
      width: 40px;
      height: 40px;
      .circularG {
        width: 6px;
        height: 6px;
      }
      #circularG_1 {
        left:0px;
        top:17px;
      }
      #circularG_2 {
        left: 6px;
        top: 6px;
      }
      #circularG_3 {
        top:0px;
        left:17px;
      }
      #circularG_4{
        right:6px;
        top:6px;
      }
      #circularG_5{
        right:0px;
        top:17px;	
      }
      #circularG_6{
        right:6px;
        bottom:6px;
      }
      #circularG_7{
        left:17px;
        bottom:0px;
      }
      #circularG_8{
        left:6px;
        bottom:6px;
      }

    }
  }
}
/* mobile --------------------------*/

@media (max-width: 767px){ 
  .header-content .header-logo  {   
    margin: 0 auto 20px;
    .logo-site {    
      color: $logo-color;	  
      font-size: $logo-size;
      line-height: 1.0;
      &:hover {
        color: $logo-color-hover;
      }
    }
  }
  #body-content {
    margin: 0 auto;
  }  
  .header-content {  	
    clear: both;    
    position: relative!important; 
    .top-bar-left {
      display: none;  		
    }
    .top-bar-right {
      text-align: center;
    }   
  }  
  .horizontal-menu-container {
    display: none;
  }
  .cata-toolbar .sort-by #sort_by_box {
    left: 0;
    right: auto;
    min-width: 135px;
  }
  .category .section .image { height: auto; }
  .cata-toolbar .sort-by .sort-by-inner .dropdown-toggle button i {
    padding-top: 2px;
  }
  .cata-toolbar .sort-by .sort-by-inner .dropdown-toggle button span{
    padding-right: 10px;
  }  

  /* main slideshow */
  .swiper-button-white {
    width: 40px;
    height: 40px;
    &:before {
      line-height: 40px;
      font-size: 18px;
    }
  }
  .swiper-button-white.swiper-button-prev {
    left: 15px;
  }
  .swiper-button-white.swiper-button-next {
    right: 15px;
  }
  #home-slideshow .swiper-slide {
    height: 280px;
  }
  #home-slideshow.flexslider .flex-control-nav{ bottom: 10px; }
  #home-slideshow.flexslider .flex-direction-nav a{ width: 41px; height: 41px; padding: 5px; }
  #home-slideshow .camera_caption{ display: none;}

  #home-slideshow .cameracurrent .camera_caption>div, #home-slideshow .flex-active-slide .camera_caption>div{
    text-align: center !important;
  } 
  .swiper-container-horizontal > .swiper-pagination {
    @include opacity(0);
  }   
  body.menu-opened, body.search-opened, body.cart-opened, body.filter-opened{
    overflow-y: hidden;
    position: fixed;
  }
  .banner-top {
    margin: 0px auto;
  }
  .banner-top-item {
    margin-top: 20px;
  }
  .home-tab .special-offer-product .product-wrapper {
    margin: 0 0 30px;
  }  
  .tab-content .home-tab {
    .normal-product {
      margin: 0;
    }    
  }
  #home-tabs, 
  #home-tabs-second,
  .product-simple-tab , 
  .product-extended-tab,
  .nav-tabs-container  {
    margin: 30px auto 0;
    .nav {
      float: none;
      width: 100%;
      border: none;
      li {
        display: block;
        margin: 0 0 15px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $border-main;
        > a {
          margin: 0;
          float: none;
          display: inline-block;
        }
      }
    }  	
  }
  #home-tabs-third {
    margin: 0 auto;
    .nav-tabs-container .nav {
      position: static;
      li {
        margin: 0 0 5px;
        a {
          margin: 0 0 5px;
        }
      }
    }    
  }
  .banner-ads,
  .trending-now {
    margin-top: 40px;
  }  
  #home-tabs-second {
    padding: 30px 0 40px 0;
  }
  .bottom-product-block {
    padding: 40px 0 35px;
  }
  .bottom-container {
    padding-top: 50px;
  }
  .footer-top {
    padding: 40px 0;
  }
  .product-wrapper .product-head .product-image a:hover::after { background: transparent; width: 0; height: 0; }
  .fancybox-skin .mailchimp-popup-img { display: none;}
  .fancybox-skin .mailchimp-popup-content{ padding: 30px 20px; margin: 0; min-width: 100%; display: block; height: 100%; overflow: scroll;}  
  .main-nav .mega-menu .dropdown-menu .mega-sub-link { width: 100%;
    overflow: hidden;
  }
  .main-nav .mega-menu .dropdown-menu .mega-sub-link>a { font-size: 14px;}
  .main-nav .mega-menu .dropdown-menu .product-wrapper { padding: 0 20px;}
  .main-nav .mega-menu .dropdown-menu-2 .product-wrapper { padding-top: 20px; }  
  body>div.jGrowl{ margin: 0 10%; width: 80% !important;
    div.jGrowl-notification {
      width: 100% !important;
    }
  }
  .jGrowl .effect-item > div.col-xs-3{ padding-right: 0;}  
  #page-body .mobile-version .h-logo{
    position: relative;
    padding: 25px 0;
    margin: 0;
    z-index: 5;
    text-align: center;
    width: 100%;   
    display: none;

    a{
      display: inline-block;
    }
  }
  #scroll-to-top{ display: none; }

  .cata-list .cata-product .product-grid-item,
  .cata-list-small .cata-product .product-grid-item {
    width: 100% !important;
  }
  .cata-list .cata-product .product-wrapper,
  .cata-list-small .cata-product .product-grid-item .product-wrapper {
    .product-head {
      width: 65%;
    }
    .product-content {
      width: 35%;
    }
  }
  .cata-list-small .cata-product .product-grid-item .product-wrapper .product-head .product-image .featured-img {
    width: 40%;
  }
  .cata-list-small .cata-product .product-grid-item .product-wrapper .product-head .product-image .product-wrap-info {
    padding-right: 15px;
    width: 60%;
  }
  .navigation{
    display: none;
  }
  #tabs-container .panel-group .panel:last-child{ border-bottom: 1px solid #b6b6b6; }  
  .footer-content>.container {
    #customer-service, #infomation, #follow-us{
      padding-left: 15px;
      min-height: 20px;
      border-left: 0;
    }    
  }   
  .footer-copyright {
    .copyright>p{
      text-align: center;
    }
    .payment-icons {
      text-align: center;
    }
  }  
  /* category page */
  .breadcrumb-holder {
    margin-bottom: 20px;
  }
  .col-xs-6 {
    &:nth-child(even) {
      .category {    
        &:before {
          content: '';
          width: 1px;
          height: auto;
          background: $border-main;
          @include ab(50px, 0, 50px, n);
        }    
      }
    }
    &:nth-child(odd){
      .category {
        &:before {
          content: none !important;
        }
      }
    }
  }

  #sidebar-blog .sb-widget {
    margin-bottom: 25px;
  }
  .main-content > section .catalog-title { top: 0; }
  .sidebar .sb-widget, #sidebar-blog .sb-widget{    
    .sb-title{
      margin-bottom: 10px;
      > span{
        width: calc(100% - 35px);
      }

      i{
        width: 10px;
        height: 10px;
        text-align: center;
        cursor: pointer;
        padding: 5px;
        margin-top: -3px;
        float: right;
        line-height: 10px; 
        border: 1px solid #b6b6b6;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;

        &.fa-angle-down{
          display: inline-block !important;
        }
        &.fa-angle-up{
          display: none !important;
        }
      }

      span.none-active{
        i.fa-angle-down{
          display: none !important;
        }
        i.fa-angle-up{
          display: inline-block !important;
        }
      }

      a.clear-filter{
        display: block;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        float: none !important;
      }
    }
  }
  .cata-toolbar{    
    /* have sidebar*/
    > .sort-by{
      float: left;
    }

    /*none sidebar*/
    .group-pgl .filter{
      margin-right: 0;
      position: relative;
      >.dropdown-menu{
        min-width: 300px;
        left: 5px;
        >.list-inline>.sbw-filter .grid-uniform>.sb-widget{
          width: 100%;
          float: none;
          margin-bottom: 25px;

          .sb-title{
            margin-bottom: 0;
            span{
              display: block;
              i{
                float: right;
                padding: 10px;
                margin: -10px;
              }
              .fa-angle-up{
                display: none !important;
              }
              .fa-angle-down{
                display: inline-block !important;
              }

              &.none-active{
                .fa-angle-down{
                  display: none !important;
                }
                .fa-angle-up{
                  display: inline-block !important;
                }
              }
            }

            > a.clear-filter{
              display: none !important;
            }
          }

          .advanced-filters{
            margin-top: 15px;
          }
        }
      }
    }
  }

  .cata-product.cp-grid, 
  .cata-product.cp-grid.cp-none-sb{
    .product-grid-item:nth-child(3n+1) {
      clear: none;      
    }
    .product-grid-item:nth-child(2n+1) {
      clear: both;     
      .product-wrapper {
        &:before {
          content: none !important;
        }
      }
    }        
    .product-grid-item {
      display: inline-block;
      width: 50%;
      float: left;  
    }   
  }
  .product-grid-item {
    display: inline-block;
    width: 50%;
    float: left;
    &:nth-child(n) {
      .product-wrapper {
        &:before {
          content: '' !important;
          width: 1px;          
          background: $border-main;
          @include ab(50px, 0, 40px, n);          
        }
      }
    }
    &:nth-child(2n + 1) {
      clear: both;
      .product-wrapper {
        &:before {
          content: none !important;
        }
      }
    }           
  } 
  #product-ex-action {
    margin-top: 30px;
  }
  .page-product .table-extended td {
    width: 100%;
    display: block;
  }
  .page-product .table-extended.align-left td img {
    right: -20px;
    margin-bottom: 40px;
  }
  .page-product .table-extended.align-right td img {
    left: -20px;
    margin-bottom: 40px;
  }
  #shopify-product-reviews .spr-container .spr-form-label {
    text-align: left;        
  }
  #shopify-product-reviews .spr-container .spr-form-input-text, 
  #shopify-product-reviews .spr-container .spr-form-input-email,
  #shopify-product-reviews .spr-container .spr-form-input-textarea {
    width: 100%;
    max-width: 315px;
    float: none;
    clear: both;
  }
  .panel-default > .panel-heading {
    border-radius: 0;
    .title{ margin-bottom: 0px; }
  } 
  .page-product .tab-content {
    padding: 20px;
  }
  #shopify-product-reviews .spr-container .spr-form-actions .spr-button-primary {
    margin-left: 0;
  }
  #shopify-product-reviews .spr-container .spr-summary-actions {
    clear: both;
    width: 100%;
    margin-top: 20px;
    float: left;
  }
  .spr-summary-actions-newreview{ float: left !important;}
  .sidebar .sb-widget .owl-carousel .owl-item .product-wrapper .product-head .product-image{
    text-align: center;
    a{
      display: inline-block;
      img{
        display: inline-block;
      }
    }
  }
  .cart-right{ margin-top: 30px;}
  body .fancybox-opened{ z-index: 18030 !important; }  
  .cata-toolbar .grid, .cata-toolbar .list {margin: 0 5px;}
  .cata-toolbar .sort-by .sort-by-inner .dropdown-toggle button{ width: auto; min-width: 90px;}   
  .page-product.product-extended .tab-content {
    &:before {
      content: none;
    }
  }

  /*login page*/    
  .login-or, .register-or {
    margin: 20px 0 0;
    border-left: 0;
    padding-top: 50px;    
    &:before {
      top: 0px;
      left: 50%;
      z-index: 2;
      @include translate(-50%, -50%);
    }
    &:after {
      z-index: 1;
      content: '';
      @include ab(0, 45px, n, 45px);
      height: 1px;
      background: $body-border-color;
    }
  }
  /*contact us*/  
  .page-contact .contact-form #contact-form .contact-control-wrapper{ width: 100%;}  
  .footer-top  .footer-block {
    margin: 0px 0 20px;
  }  
  #shipping-calculator {
    margin: 0 0 30px;
  }  
  .blog-grid {
    .post-head {
      margin: 0 auto 15px;
    }
  }
  #layer-addcart-modal {
    display: none !important;
    .addcart-modal-box {top: 5%; width: 90%; margin: 0 5%; }
    .addcart-modal-content {max-height: 300px;} 
  }  
  .notifyjs-corner {
    display: none !important;
  }
  #widget-newsletter {
    .newsletter-title {
      padding-right: 0;
      display: block;
    }   
    form {
      width: 100%;
    }
  }
  .page-blog .post .post-info {
    .post-date.visible-xs {
      display: inline-block !important; 
    }
    .list-inline li:last-child:before {
      content: "\f111";
    }
  } 
  .page-blog .post-content-wrapper {
    padding-left: 0;
  }
  .au-banner {
    height: 350px;
    margin-bottom: 40px;
    .au-banner-text {
      width: 100%;
    }
  }
  .au-three-column {
    margin-bottom: 40px;
  }
  .au-team .team-member li {
    width: 50%;    
  }
  .text-boxes-left .text-boxes-item {
    width: 100%;
    padding-top: 30px;
  }
  #product-compare table tr td {
    display: block;
    position: relative;
    width: 100%;
    border: none;
  }
}

@media (max-width: 479px){   
  #layer-addcart-modal .addcart-modal-box .addcart-modal-action .addcart-modal-button {
    .addcart-modal-continue,
    .addcart-modal-checkout {
      float: left;
      .btn {
        min-width: 215px;
        padding-left: 0;
        padding-right: 0;
        clear: left;
      }
    }
  }
  #layer-addcart-modal .addcart-modal-box .note {
    margin-left: 20px;
    margin-right: 20px;
  }
  #layer-addcart-modal .addcart-modal-box .addcart-modal-product,
  #layer-addcart-modal .addcart-modal-box .addcart-modal-action {
    padding-left: 20px;
    padding-right: 20px;
  } 	
  #home-slideshow .swiper-content {	    
    padding: 15px;	    
    .heading {
      font-size: 28px !important;
    }
  }   
  /*category page*/  

  #shopify-product-reviews .spr-container .spr-summary-actions{ 
    float: none;
    margin-top: 20px;
    display: block;

    a{
      display: inline-block;
    }
  }
  #shopify-product-reviews .spr-container .spr-form-label {
    width: auto;
  }
  #shopify-product-reviews .spr-container .spr-summary{ text-align: left !important;}  
  .page-product .product-info .product-action .quantity-product,
  .page-product .product-info .swatch .header {
    margin: 0 20px 0 0;
    width: 110px;
    min-width: 110px;
  }
  .page-product .product-info .product-action .action-button .add-to-cart {
    padding-left: 25px;
    padding-right: 25px;
  }  
  .cata-toolbar > div.sort-by{ 
    margin: 0 2% 10px;
    button{ min-width: 100px;}
  } 
  .category-grid-view {
    .col-xs-6 {
      width: 100%;
    }
    .category {
      &:before {
        content: none !important;
      }
    }
  }
  .product-grid-item,
  .cata-product.cp-grid .product-grid-item, 
  .cata-product.cp-grid.cp-none-sb .product-grid-item{
    width: 100%; 		
    .product-wrapper {
      &:before {
        content: none !important;
      }
    }
    &:nth-child(n) {
      .product-wrapper {
        &:before {
          content: none !important;
        }
      }
    }
  }
  .cata-list .cata-product .product-wrapper {  
    .product-head {
      width: 100%;
      .product-image .product-wrap-info,
      .product-image .featured-img {
        width: 50%;        
      }
    }
    .product-content {
      width: 100%;
    }
  }
  .cata-list-small .cata-product .product-grid-item .product-wrapper {
    .product-head {
      width: 100%;
    }
    .product-content {
      width: 100%;
      .price-cart-wrapper {
        margin-top: 20px;
      }
    }
  }  
  #widget-newsletter form {
    input {
      width: 100%;
      margin: 10px 0 15px;
    }
    #email-submit {
      position: static;
      @include border-radius-25px;
    }
  }
  .fancybox-skin .mailchimp-popup-content #mc-form #mc-email {
    width: 100%;
    margin: 0 0 15px;
  }
  .fancybox-skin .mailchimp-popup-content #mc-form .btn {
    position: static;
    @include border-radius-25px;
  }
  .cart-table{    
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    /* Hide table headers (but not display: none;, for accessibility) */    
    table {       
      tr {         
        padding: 10px 0;
      }
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }      
      td { 
        /* Behave  like a "row" */
        border-bottom: 0 !important;
        position: relative;
        padding: 5px 0;
        padding-left: 30%; 
        text-align: left;

        &.item-title{
          padding-left: 30%;
        }

        &.action{
          button{            
            padding: 0;              
            text-align: center;
          }
        }
      }

      td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 26%;
        left: 10px;
        width: 28%; 
        padding-right: 10px; 
        white-space: nowrap;
        font-size: 14px;
        color: $color-title;
        font-weight: 400;
        text-transform: capitalize;
      }

      /*
      Label the data
      */
      td:nth-of-type(1):before { content: "Remove"; }
      td:nth-of-type(2):before { content: "Product"; }
      td:nth-of-type(3):before { content: "name"; }
      td:nth-of-type(4):before { content: "Price"; }
      td:nth-of-type(5):before { content: "Qty."; }
      td:nth-of-type(6):before { content: "Total"; }      
    }
  }
  .table-cart .wrap-table {
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    table.cart-items {       
      tr {         
        padding: 10px 0;
        border-bottom: 1px solid $border-main;
        &:last-child {
          border-bottom: none;

          td {
            padding-left: 0;
            padding-right: 10px;
            &:nth-of-type(1):before {
              content: none;              
            }
          }
        }
      }
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }      
      td,
      tr:last-child td,
      .wishlist-item td.product-price { 
        /* Behave  like a "row" */
        border-bottom: 0 !important;
        position: relative;
        padding: 5px;
        padding-left: 30%; 
        text-align: left;

        &.item-title{
          padding-left: 30%;
        }

        &.action{
          button{            
            padding: 0;              
            text-align: center;
          }
        }
      }

      td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 26%;
        left: 10px;
        width: 28%; 
        padding-right: 10px; 
        white-space: nowrap;
        font-size: 13px;        
        font-weight: 700;
        text-transform: capitalize;
      }

      /*
      Label the data
      */
      td:nth-of-type(1):before { content: "Remove"; }
      td:nth-of-type(2):before { content: "Product"; }
      td:nth-of-type(3):before { content: "Name"; }
      td:nth-of-type(4):before { content: "Price"; }
      td:nth-of-type(5):before { content: ""; }        
      .cart-action {
        &:before {
          content: none !important;
        }
        .btn-default {
          margin-bottom: 10px;         
        }
      }   
    }
  }  
  .au-team .team-member li {
    width: 100%;
  }  
  .comment-form .control-wrapper .btn {
    margin-left: 0;
  }
}
@media (max-width: 360px){	
  #home-slideshow .swiper-slide {
    height: 180px;   
  }
  .cart-sb.opened, .cart-dd {
    max-width: 280px;
  }
  .cata-toolbar .visible-xs .filter-toggle {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
  }  
  /* category page */  
  .sidebar .sb-widget .sb-filter .advanced-filters li.advanced-filter{ width: 100%;}   
  .cata-product.cp-list .product-grid-item .product-wrapper .product-head .product-image a {max-width: 135px;}  
  .product-list-item .product-wrapper{
    .product-head{
      width: 100%;
    }
    .product-action-holder .add-cart-button .btn-primary {
      font-size: 12px;
    }
    .product-content{
      width: 100%;
      margin-top: 15px;
      .pc-inner {
        text-align: left;      
        .product-button-list {
          .add-cart-button{
            margin-right: 0;          
          }
          .add-to-wishlist{
            display: none;
            margin-top: 0;
          }
        }
      }
    }
  } 
}
@media (max-width: 319px) {
  .cart-sb.opened, .cart-dd {
    max-width: 260px;
  }  
}
