<%#= javascript_include_tag 'application' %>
<footer id="colophon" class="site-footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                           
                        </div>
                    </div>
                </div>
                 <div class="footer-newsletter">
                    <div class="container">
                        <div class="row">
                            <div id="owl-brands" class="owl-brands owl-carousel unicase-owl-carousel owl-outer-nav">
                                <% imgs =["brand_appollo.png","brand_cezares.png", "brand_grohe.png", "brand_laufen.png", "brand_vb.png"] %>
                                <% imgs.each do |img|%>
                                    <div class="item">
                                        <a href="#">
                                            <figure>
                                                <img src="<%= asset_path('brands/'+ img) %>" class="img-responsive" alt="">
                                            </figure>
                                        </a>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-widgets">
                                <div class="container">
                                    <div class="row">
                                        <div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
                                            <div class="footer-logo">
                                                <img src="<%= asset_path('logo_h.png')%>">
                                            </div>
                                        
                                            <div class="footer-call-us">
                                                <div class="media">
                                                <span class="media-left call-us-icon media-middle"></span>
                                                    <div class="media-body">
                                                        <span class="call-us-number" style="margin-left: 1.4em;">+7 (495) 212-13-66</span>
                                                        <span class="call-us-number">8 (800) 333-44-22</span>
                                                        <br />
                                                        <span class="call-us-text">Мы работаем ежедневно <br /> с 10:00 до 21:00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
                                            <div class="columns">
                                                <aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
                                                    <div class="body">
                                                        <h4 class="widget-title">О компании</h4>
                                                        <div class="menu-footer-menu-1-container">
                                                            <ul id="menu-footer-menu-1" class="menu">
                                                                <li class="menu-item"><a href="/about">О нас</a></li>
                                                                <li class="menu-item"><a href="/news">Новости</a></li>
                                                                <li class="menu-item"><a href="/brands">Бренды</a></li>
                                                                <li class="menu-item"><a href="/promotions">Акции и скидки</a></li>
                                                                <li class="menu-item"><a href="/vacancies">Вакансии</a></li>
                                                                <li class="menu-item"><a href="/partnership">Сотрудничество</a></li>
                                                                <li class="menu-item "><a href="/contacts">Контакты</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                            <div class="columns">
                                                <aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
                                                    <div class="body">
                                                        <h4 class="widget-title">Помощь</h4>
                                                        <div class="menu-footer-menu-3-container">
                                                            <ul id="menu-footer-menu-3" class="menu">
                                                                <li class="menu-item"><a href="/how-to-order">Как сделать заказ</a></li>
                                                                <li class="menu-item"><a href="/delivery">Доставка</a></li>
                                                                <li class="menu-item"><a href="/payments">Оплата</a></li>
                                                                <li class="menu-item"><a href="/return">Возврат товара</a></li>
                                                                <li class="menu-item"><a href="/faq">Вопрос-ответ</a></li>
                                                                <li class="menu-item"><a href="/public-offer">Публичная оферта</a></li>
                                                                 <li class="menu-item"><a href="/site-map">Карта сайта</a></li>
                                                                <!-- <li class="menu-item"><a href="/rules">Правила продажи</a></li> -->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                            <div class="columns">
                                                <aside class="widget clearfix widget_nav_menu">
                                                    <div class="body">
                                                        <h4 class="widget-title">Мы в социальных сетях</h4>
                                                        <div class="menu-footer-menu-3-container">
                                                            <ul class="social-icons list-unstyled">
                                                                <%(1..7).each do |i|%>
                                                                    <li style="display: inline-block; margin-right: 10px;"><img src="<%= asset_path('social/social' + i.to_s + '.png') %>" ></li>
                                                                    <%if i== 4 %> <br /><% end -%>
                                                                <% end %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-bar">
                    <div class="container">
                        <div class="pull-left flip copyright"> 2017 &copy;  41km.ru</div>
                        <div class="pull-right flip payment">
                            <div class="footer-payment-logo">
                                <ul class="cash-card card-inline">
                                    <% (1..8).each do |i|%>
                                        <li class="card-item"><img src="<%= asset_path('brands/payment' + i.to_s + '.png') %>" alt="" ></li>
                                    <% end %>
                                </ul>
                            </div><!-- /.payment-methods -->
                        </div>
                    </div><!-- /.container -->
                </div>
</footer>