<script type="text/javascript">
  $(document).ready(function(){
    $( ".departments-menu" ).on( "click",'.nav-item' ,function() {
  if ($(this).children(".nav-link").attr("aria-expanded")=='false'){
    $(this).addClass(" open");
    $(this).children(".nav-link").attr("aria-expanded","true")
  }else
  { $(this).removeClass("open");
    $(this).children(".nav-link").attr("aria-expanded","false")
  }});
  });
  
</script>
  <div class="top-bar">
    <div class="container">
      <div class="container">
        <nav>
          <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                <li class="menu-item"><a title="Features" href="/">Home</a></li>
                <li class="menu-item"><a title="Contact Us" href="/about">About</a></li>
                <li class="menu-item"><a title="Features" href="#">Features</a></li>
                <li class="menu-item"><a title="Contact Us" href="#">Contact Us</a></li>
          </ul>
        </nav>
        <nav>
          <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
            <%= render partial:'/spree/shared/login_bar'%>
          </ul>
        </nav>
      </div>
    </div>
  </div>
<header class="site-header header-v2">
  <div class="container">
    <div class="row">
      <div class="header-logo">
        <a href="/" class="header-logo-link">
          <img src="/assets/logo.png">
        </a>
      </div>
       <div class="primary-nav animate-dropdown" style="text-align: center; padding: .7em .9375rem;">
          <div class="clearfix">
              <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#default-header">
                &#9776;
              </button>
          </div>
          <div class="collapse navbar-toggleable-xs" id="default-header">
            <nav>
              <ul id="menu-main-menu" class="nav nav-inline yamm" style="font-size: 2em;">
                <li class="menu-item"><a title="Features">+7-33435-345</a></li>
                <li class="menu-item"><a title="Features">+7-33435-345</a></li>
              </ul>
            </nav>
          </div>
    </div>
    <div class="header-support-info">
      <div class="media">
        <span class="media-left support-icon media-middle"><i class="ec ec-support"></i></span>
        <div class="media-body">
          <span class="support-number"><strong>Часы работы:</strong> 8:00-20:00</span><br/>
          <span class="support-email">Выходной: воскресенье</span>
        </div>
      </div>
    </div>
  </div> 
</header>
<nav class="navbar navbar-primary navbar-full">
  <div class="container">
    <ul class="nav navbar-nav departments-menu animate-dropdown">
      <li class="nav-item dropdown " >
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="departments-menu-toggle" aria-expanded="false">Каталог</a>
        <ul id="menu-vertical-menu" class="dropdown-menu yamm departments-menu-dropdown">
          <% Spree::Taxonomy.first.root.children.each do |taxon|%>
            <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown menu-item-2584 dropdown"><%= link_to taxon.name, seo_url(taxon), :title => taxon.name%></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <%= render partial: '/spree/shared/search'%>
    <div class="cart-in-header">
      <%= render partial: "/spree/shared/cart", :locals => {:order => current_order} %>
    </div>
  </div>
</nav>