<% if cached_recently_viewed_products.any? %>
  <aside id="recently_viewed" class="widget widget_products latest_products_mt_def">
      <h3 class="widget-title">Вы недавно смотрели</h3>
      <ul class="product_list_widget">
      	<% cached_recently_viewed_products.each do |product| %>
      	<li>
              <%= link_to product_path(product), :title =>product.name do %>
                 	<%= small_image(product, :class => "wp-post-image") %>
                  <span class="product-title"><%= product.name %></span>
              <% end %>
               <span class="electro-price">
                <span class="amount">
                  <%= display_price(product)%>
                </span>
              </span>
          </li>
      	<% end %>
      </ul>     
  </aside>
<% end %>