<aside class="widget widget_products">
    <h3 class="widget-title">Latest Products</h3>
    <ul class="product_list_widget">
    	<%Spree::Product.first(100).sample(4).each do |product|%>
    	<li>
            <%= link_to product_path(product), :title =>product.name do %>
               	<%= small_image(product, :class => "wp-post-image") %>
                <span class="product-title"><%= product.name%></span>
            <% end %>
             <span class="electro-price"><span class="amount"><% product.price%></span></span>
           <!--  <span class="electro-price">
	            <ins>
	            	<span class="amount">&#36;1,999.00</span>
	            </ins> 
	           	<del>
	            		<span class="amount">&#36;2,299.00</span>
	            </del>
           	</span> -->
        </li>
    	<% end %>
    </ul>
</aside>